.card {
  border-radius: 8px;
  padding: 24px;
  width: 290px;
  display: flex;
  flex-direction: column;
  background-color: var(--menu-background);
  cursor: url(../../../public/icons/pointer-cursor.png), pointer;
  align-self: stretch;
  border: solid 1px transparent;
}

.card:hover {
  border: solid 1px var(--secondary500);
}

.cardImage {
  border-radius: 8px;
  border-width: 0px;
  height: 210px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.cardInfos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1rem;
}

.cardTitle {
  font-size: 1.3rem;
  color: var(--secondary);
  font-family: "Sora-Bold";
  margin: 0;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 240px;
}

.card[aria-disabled="true"] {
  cursor: not-allowed;
 
}
.card[aria-disabled="true"]:hover{
  border: 1px solid transparent;
}

.card[aria-disabled="true"] .cardImage,
.card[aria-disabled="true"] .cardTitle {
  opacity: 0.4;
}

@media screen and (max-width: 740px) {
  .cardTitle {
    font-size: 16px;
    text-align: center;
    width: 100%;
  }
  .cardInfos div,
  .cardInfos p {
    font-size: 14px;
    text-align: center;
    width: 100%;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 178.571% */
  }
  .cardInfos p {
    margin-top: 4px;
  }
}
