.spinner {
  position: relative;
  width: 54px;
  height: 54px;
}

.spinner * {
  width: 6%;
  height: 16%;
  background: var(--white);
  position: absolute;
  left: 49%;
  top: 43%;
  opacity: 0;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-animation: fade 1s linear infinite;
  animation: fade 1s linear infinite;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}

.spinner .bar1 {
  -webkit-transform: rotate(0deg) translate(0, -130%);
  transform: rotate(0deg) translate(0, -130%);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.spinner .bar2 {
  -webkit-transform: rotate(30deg) translate(0, -130%);
  transform: rotate(30deg) translate(0, -130%);
  -webkit-animation-delay: -0.9167s;
  animation-delay: -0.9167s;
}

.spinner .bar3 {
  -webkit-transform: rotate(60deg) translate(0, -130%);
  transform: rotate(60deg) translate(0, -130%);
  -webkit-animation-delay: -0.833s;
  animation-delay: -0.833s;
}
.spinner .bar4 {
  -webkit-transform: rotate(90deg) translate(0, -130%);
  transform: rotate(90deg) translate(0, -130%);
  -webkit-animation-delay: -0.7497s;
  animation-delay: -0.7497s;
}
.spinner .bar5 {
  -webkit-transform: rotate(120deg) translate(0, -130%);
  transform: rotate(120deg) translate(0, -130%);
  -webkit-animation-delay: -0.667s;
  animation-delay: -0.667s;
}
.spinner .bar6 {
  -webkit-transform: rotate(150deg) translate(0, -130%);
  transform: rotate(150deg) translate(0, -130%);
  -webkit-animation-delay: -0.5837s;
  animation-delay: -0.5837s;
}
.spinner .bar7 {
  -webkit-transform: rotate(180deg) translate(0, -130%);
  transform: rotate(180deg) translate(0, -130%);
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.spinner .bar8 {
  -webkit-transform: rotate(210deg) translate(0, -130%);
  transform: rotate(210deg) translate(0, -130%);
  -webkit-animation-delay: -0.4167s;
  animation-delay: -0.4167s;
}
.spinner .bar9 {
  -webkit-transform: rotate(240deg) translate(0, -130%);
  transform: rotate(240deg) translate(0, -130%);
  -webkit-animation-delay: -0.333s;
  animation-delay: -0.333s;
}
.spinner .bar10 {
  -webkit-transform: rotate(270deg) translate(0, -130%);
  transform: rotate(270deg) translate(0, -130%);
  -webkit-animation-delay: -0.2497s;
  animation-delay: -0.2497s;
}
.spinner .bar11 {
  -webkit-transform: rotate(300deg) translate(0, -130%);
  transform: rotate(300deg) translate(0, -130%);
  -webkit-animation-delay: -0.167s;
  animation-delay: -0.167s;
}
.spinner .bar12 {
  -webkit-transform: rotate(330deg) translate(0, -130%);
  transform: rotate(330deg) translate(0, -130%);
  -webkit-animation-delay: -0.0833s;
  animation-delay: -0.0833s;
}
