.questionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.tableLayout {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  flex-wrap: wrap;
  margin-top: 4em;
  margin-bottom: 1em;
}

.checkBoxContainer {
  display: flex;
  height: 40px;
  margin: 25px 10px;
  position: relative;
  width: calc(50% - 20px);
}

.checkbox {
  height: 40px;
  cursor: pointer;
  display: flex;
  padding: 24px 16px;
  justify-content: center;
  align-items: center;
  gap: 56px;
  flex: 1 0 0;
  opacity: 0;
  z-index: 10;
}

.checkboxLabel {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 16px;
  border-radius: 10px;
  background-color: var(--background600);
  font-weight: bold;
}

.checkboxLabel:after {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  left: 0;
  bottom: 0;
  background: linear-gradient(1deg, var(--background) 65%, transparent);
  border-radius: 10px;
  z-index: -1;
}

.checkboxLabel::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  left: 1px;
  bottom: 1px;
  background: linear-gradient(
    90deg,
    #437aba 0%,
    #1e74d6 40%,
    #00fbff 50%,
    #1e74d6 70%,
    #437aba50 100%
  );
  border-radius: 10px;
  z-index: -1;
}

.checkbox:checked + .checkboxLabel {
  background-color: var(--secondary);
  color: var(--background);
}

.checkbox:checked + .checkboxLabel::after,
.checkbox:checked + .checkboxLabel::before {
  display: none;
}
