.accentBox {
  position: relative;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
}

.gradientLine {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    #437aba 0%,
    #1e74d6 45%,
    #00fbff 60%,
    #1e74d6 70%,
    #437aba50 100%
  );
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  opacity: 0.6;
  z-index: 1;
}

.accentBox .content {
  visibility: hidden;
}

/* Responsive styles */
@media (max-width: 950px) {
  .gradientLine {
    height: 1px;
  }
}
