.accentBox {
  position: relative;
  padding: 20px;
  border-radius: 15px;
  background: linear-gradient(90deg, var(--background), #070708);
  background-blend-mode: overlay;
  color: #fff;
  margin-bottom: 40px;
  overflow: visible;
  border: 2px solid #000;
}

.gradientLine {
  content: '';
  position: absolute;
  top: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    90deg,
    #437aba 0%,
    #59c2e8 45%,
    #00ff77 60%,
    #59c2e8 70%,
    #437aba50 100%
  );
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.accentBox::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  left: 1px;
  bottom: 1px;
  background: linear-gradient(
    90deg,
    #437aba 0%,
    #59c2e8 45%,
    #00ff77 60%,
    #59c2e8 70%,
    #437aba50 100%
  );
  border-radius: 15px;
  z-index: -1;
}
