.backButton {
  display: flex;
  align-items: center;
  cursor: url(../../public/icons/pointer-cursor.png), pointer;
}

.backButton svg {
  width: 16px;
  margin-right: 8px;
}

@media screen and (max-width: 768px) {
  .backButton {
    font-size: 18px;
    color: var(--secondary);
  }
}
