.chiplist_container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  background-color: rgba(16, 16, 18, 0.3);  
  gap: 0.5rem;

  border-radius: 10px;
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.each_chip {
  padding: 0.5rem 0.25rem;
  text-align: center;
  cursor: url(../../public/icons/pointer-cursor.png), pointer;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .each_chip {
    padding: 0.5rem 0.25rem;
  }
}
