.footer {
  position: relative;
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e1dcea66;
  max-width: calc(100% - 126px);
  padding: 48px 0;
  margin: 2em auto 0 auto;

  color: var(--secondary);
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.content,
.social {
  transition: opacity 0.3s;
  opacity: 0.7;
}

.content:hover,
.social:hover {
  transition: opacity 0.3s;
  opacity: 1;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 9px;
  cursor: url(../../public/icons/pointer-cursor.png), pointer;
}

.social span {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background: var(--secondary);
}

@media (max-width: 740px) {
  .footer {
    max-width: calc(100% - 48px);
    flex-direction: column;
    gap: 24px;
  }
  .content {
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }
  .socials {
    gap: 24px;
    flex-direction: column;
  }
  .social span {
    background: transparent;
  }
  .social svg {
    fill: var(--secondary);
    width: 20px;
    height: 20px;
  }
}
