.footer {
  position: relative;
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(225, 220, 234, 0.40);
  max-width: calc(100% - 126px);
  padding: 48px 0;
  margin: 0 auto;

  color: var(--secondary);
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.content, .social {
  transition: opacity 0.3s;
  opacity: 0.7;
}

.content:hover, .social:hover {
  transition: opacity 0.3s;
  opacity: 1;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 9px;
  cursor: pointer;
}

.social span {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background: var(--secondary);
}

.profileBg {
  background-image: url("/land/textures/SID_Background_SpaceLoop.gif");
  background-repeat: repeat;
}

@media (max-width: 740px) {
  .footer {
    max-width: calc(100% - 48px);
    flex-direction: column;
    gap: 16px;
  }

  .content {
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }

  .socials {
    gap: 20px;
    flex-direction: column;
  }
}
