.landContainer {
    height: 100vh;
    width: 100vw;
    z-index: 0;
    touch-action: "none";
    overflow: "hidden";
    background-image: url("/land/textures/SID_Background_SpaceLoop.gif");
    background-repeat: "repeat";
}

.error {
    display: flex; 
    margin-left: 1.25rem;
    margin-right: 1.25rem; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-top: 100px;
}


@media (min-width: 768px) { 
    .error {
        margin-top: 0; 
        margin-left: 0; 
        height: 100vh; 
        margin-right: 250px;
    }
}
