.menuItem {
  margin-left: 2.5rem /* 40px */;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  color: var(--secondary);
}

.menuItem {
  text-transform: underline;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.navbarContainer:has(.menuItem:hover) .menuItem {
  opacity: 0.7;
}

.menuItem:hover {
  opacity: 1 !important;
}

.menuItemSmall {
  padding-top: 1rem /* 16px */;
  padding-bottom: 1rem /* 16px */;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  cursor: pointer;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 12vh;
  transition: background-color 1s ease;
  background-color: transparent;
}

.navbarScrolled {
  background-color: rgba(0, 0, 0, 1);
}

.buttonContainer {
  margin: 0 1.25rem;
}

.buttonContainer > button {
  position: relative;
  margin: 0;
  padding: 8px 16px;
  height: unset;
  color: var(--background);
}

.buttonTextSection {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: space-around;
  min-width: 124px;
}

.buttonText {
  margin-right: 32px;
  text-transform: capitalize;
  font-weight: bold;
  font-family: Sora-ExtraBold;
  /* Body/middle/bold */
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  letter-spacing: 0.18px;
}

.buttonSeparator {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 64px;
  align-self: stretch;
  width: 1px;
  background: var(--background);
}

.buttonIcon svg {
  display: block;
  width: 32px;
  height: 32px;
  margin-left: auto;
}

.buttonContainer[aria-label="connected"] > button {
  background: var(--background600);
  color: white;
  min-width: 258px;
}

.buttonContainer[aria-label="connected"] .buttonSeparator {
  background: #aab1b6;
}

.buttonContainer[aria-label="connected"] > svg {
  background: #aab1b6;
}

.buttonContainer[aria-selected="true"] > button {
  border-radius: 10px 10px 0px 0px;
  border: 1px solid var(--secondary500);
}

.walletMenu {
  position: absolute;
  right: -1px;
  left: -1px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  transform: translateY(100%);
  padding: 12px 16px;
  background-color: var(--background600);
  border-radius: 0px 0px 10px 10px;
  border: 1px solid var(--secondary500);
}

.walletMenu button {
  display: flex;
  align-items: center;
  color: var(--secondary500);
}

.walletMenu svg {
  margin-right: 12px;
  color: var(--secondary500);
  fill: var(--secondary500);
}

.walletMenu button:hover svg,
.walletMenu button:hover p {
  color: white;
  fill: white;
}
