.menuItem {
  margin-left: 2.5rem /* 40px */;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  text-transform: uppercase;
  cursor: url(../../public/icons/pointer-cursor.png), pointer;
  font-weight: 600;
  color: var(--secondary);
}

.menuItem {
  text-transform: underline;
  cursor: url(../../public/icons/pointer-cursor.png), pointer;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.navbarContainer:has(.menuItem:hover) .menuItem {
  opacity: 0.7;
}

.menuItem:hover {
  opacity: 1 !important;
}

.menuItemSmall {
  padding-top: 1rem /* 16px */;
  padding-bottom: 1rem /* 16px */;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  cursor: url(../../public/icons/pointer-cursor.png), pointer;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 12vh;
  transition: background-color 1s ease;
  background-color: transparent;
}

.navbarScrolled {
  background-color: rgba(0, 0, 0, 1);
}

.buttonContainer {
  margin: 0 1.25rem;
}

.buttonContainer > button {
  position: relative;
  margin: 0;
  padding: 8px 16px;
  height: unset;
  color: var(--background);
}

.buttonTextSection {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: space-around;
  min-width: 124px;
}

.buttonText {
  margin-right: 32px;
  text-transform: capitalize;
  font-weight: bold;
  font-family: Sora-ExtraBold;
  /* Body/middle/bold */
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  /* 133.333% */
  letter-spacing: 0.18px;
}

.buttonSeparator {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 64px;
  align-self: stretch;
  width: 1px;
  background: var(--background);
}

.buttonIcon svg {
  display: block;
  width: 32px;
  height: 32px;
  margin-left: auto;
}

.buttonContainer[aria-label="connected"] > button {
  background: var(--background600);
  color: white;
  min-width: 258px;
}

.buttonContainer[aria-label="connected"] .buttonSeparator {
  background: #aab1b6;
}

.buttonContainer[aria-label="connected"] > svg {
  background: #aab1b6;
}

.buttonContainer[aria-selected="true"] > button {
  border-radius: 10px 10px 0px 0px;
  border: 1px solid var(--secondary500);
}

.walletMenu {
  position: absolute;
  right: -1px;
  left: -1px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  transform: translateY(100%);
  padding: 12px 16px;
  background-color: var(--background600);
  border-radius: 0px 0px 10px 10px;
  border: 1px solid var(--secondary500);
}

.walletMenu button, .walletMenu a {
  display: flex;
  align-items: center;
  color: var(--secondary500);
  text-transform: none;
}

.walletMenu svg {
  margin-right: 12px;
  color: var(--secondary500);
  fill: var(--secondary500);
}

.walletMenu button:hover svg,
.walletMenu button:hover p {
  color: white;
  fill: white;
}

.connectButtonContainer {
  color: var(--background);
}

.mobileNavBarHeader {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.navbarLogo {
  margin-left: 1rem;
}

.socialIconContainer {
  border-radius: 9999px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0.75rem;
  cursor: url(../../public/icons/pointer-cursor.png), pointer;
  transition: transform 0.3s ease-in;
  margin-top: 1.5rem;
}

.socialIconContainer:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .navbarContainer {
    height: 92px;
  }
  .navbarLogo {
    margin-left: 0.75rem;
  }
  .logo {
    width: 60px;
    height: 60px;
  }
  .connectButtonContainer {
    width: 100%;
    max-width: 304px;
  }
  .connectButtonContainer > button {
    text-transform: capitalize;

    /* Button/18px */
    font-family: Sora;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */

    display: flex;
    padding: 16px 48px;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}

.mobileNavbarShown {
  animation: mobileNavbarIn 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: flex;
}

.mobileNavbarHidden {
  animation: mobileNavbarOut 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: none;
}

@keyframes mobileNavbarIn {
  0% {
    mask: radial-gradient(
      black 0%,
      black 50%,
      transparent 50%,
      transparent 100%
    );
    mask-repeat: no-repeat;
    mask-size: 1% 1%;
    mask-position: 50% 50%;
  }
  100% {
    mask: radial-gradient(
      black 0%,
      black 50%,
      transparent 50%,
      transparent 100%
    );
    mask-size: 200% 200%;
    mask-position: 50% 50%;
  }
}

@keyframes mobileNavbarOut {
  0% {
    display: flex;
    mask: radial-gradient(
      black 0%,
      black 50%,
      transparent 50%,
      transparent 100%
    );
    mask-size: 200% 200%;
    mask-position: 50% 50%;
  }
  100% {
    display: flex;
    mask: radial-gradient(
      black 0%,
      black 50%,
      transparent 50%,
      transparent 100%
    );
    mask-repeat: no-repeat;
    mask-size: 1% 1%;
    mask-position: 50% 50%;
  }
}
