.menu {
  position: absolute;
  background-color: var(--background600);
  border: 1px solid var(--secondary500);
  align-self: center;
  left: 50%;
  top: 12vh;
  transform: translate(-50%, 0);
  border-radius: 8px;
  padding: 24px 0;
  width: 550px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  max-height: 490px;
}

.blackFilter {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.192);
  z-index: auto;
}

.menu_close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 22px;
  stroke: rgb(101, 101, 101);

  cursor: pointer;
  transition: 0.3s;
  background-color: transparent;
  border: none;
}

.menu_close:hover {
  stroke: white;
}

.menu_title {
  color: var(--secondary);
  font-size: 21px;
  font-weight: bold;
  text-align: left;
  padding-left: 24px;
}

.menu_line {
  height: 1px;
  align-self: stretch;
  background: var(--content-grey-medium, #AAB1B6);
  margin-top: 24px;
}

.notif_section {
  padding: 24px 24px 0 24px;
  overflow-y: scroll;
}

.notif_detail {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 6px;
}

.notif_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.16px;
}

.quest_name {
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.notif_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.notif_time {
  color: #CDCCCC;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.notif_line {
  height: 1px;
  align-self: stretch;
  background: var(--content-grey-medium, #AAB1B6);
  margin: 10px 0;
}

.notif_link {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  background: linear-gradient(90deg, var(--primary) -0.12%, var(--tertiary) 99.88%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

@media (max-width: 820px) {
  .menu {
    width: 90%;
    padding: 30px;
  }

  .menu_title {
    font-size: 19px;
    margin: -7px -2px 2px;
  }
}
