.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 2rem);
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: var(--background600);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.bannerPopup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 2rem);
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  border-radius: 5px;
  background-color: var(--background600);
  border-radius: 16px;
}

.titleSide,
.contentSide {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30.75px 46.125px;
}

.titleSide {
  background-color: var(--menu-background);
  max-width: 52%;
  border-radius: 16px 0px 0px 16px;
}

.contentSide {
  max-width: 48%;
}

.title {
  color: var(--secondary);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  /* Title/H2 */
  font-family: Sora;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 133.333% */
  margin-top: 24px;
}

.button {
  margin-bottom: auto;
}

.description {
  margin: auto 0;
  color: var(--secondary);
  text-align: center;

  /* Body/default/regular */
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}

.banner {
  margin: 24px 0;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  stroke: var(--background500);
}

.close::before,
.close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: var(--color-black);
  transform: translate(-50%, -50%) rotate(45deg);
}

.close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media (max-width: 768px) {
  .popupContainer {
    align-items: flex-end;
  }
  .popup {
    flex-direction: column;
    align-items: center;
    margin-top: 12vh;
    max-height: calc(88vh - 1rem);
    overflow-y: auto;
    padding: 48px 24px;
    background-color: var(--menu-background);
    border-radius: 16px 16px 0 0;
  }
  .titleSide,
  .contentSide {
    max-width: 100%;
    padding: 0 24px;
    background-color: unset;
    align-items: center;
  }
  .button {
    margin-top: 2rem;
  }
  .banner {
    width: 400px;
  }
}

.popupContent {
  display: flex;
  padding: 48px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  align-self: stretch;
  border-radius: 16px;
  background: #1f1f25;
  width: 100%;
}

.popupContent:has(+ .bottomContent) {
  border-radius: 16px 16px 0px 0px;
}

.bottomContent {
  display: flex;
  padding: 48px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.lilButton button {
  height: 2.5rem;
  text-transform: capitalize;
}
