.progressContainer {
  position: relative;
  width: 100%;
  height: 32px;
  padding: 0 16px;
  margin: 20px 0;
}

.baseLine {
  position: absolute;
  top: 50%;
  left: 16px;
  right: 16px;
  height: 3px;
  background-color: var(--background600);
  transform: translateY(-50%);
}

.coloredLine {
  width: 0%;
  position: absolute;
  top: 50%;
  left: 16px;
  height: 3px;
  background-color: var(--primary);
  transform: translateY(-50%);
  transition: width 0.3s ease-out;
}

.coloredLine::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 72px;
  height: 28px;
  background: #66ff99;
  border-radius: 50%;
  filter: blur(15px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.coloredLine.active::after {
  opacity: 0.2;
  visibility: visible;
}

.milestone {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.checkedMilestone,
.emptyMilestone {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

.checkedMilestone {
  background-color: var(--primary);
  color: #101012;
}

.emptyMilestone {
  background-color: var(--background600);
  border: 1px solid var(--secondary500);
  color: var(--text-color);
}

