.shape {
  stroke: var(--shapes);
}

.crossContainer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: -1;
  display: flex;
}

.crossContainer .side {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 200px;
  align-items: center;
}

.crossContainer .cross {
  margin: auto 0;
}

.verticalBar {
  position: absolute;
  height: 100%;
  width: 5px;
  margin: auto;
  transform: translateX(-50%);
  opacity: 0.5;
  background: linear-gradient(45deg, #70abee 0%, var(--primary) 50%, #70abee 100%);
  -webkit-mask-image: url("/masks/verticalBarMask.png");
  mask-image: url("/masks/verticalBarMask.png");
  -webkit-mask-repeat: repeat;
  mask-repeat: repeat;
}

.dots {
  display: flex;
  flex-direction: column;
  width: 2px;
  padding-top: -28px;
}

.dot {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: var(--shapes);
  margin-top: 26px;
}

.dot:first-child {
  margin-top: 0;
}

.blur {
  width: 488px;
  height: 285px;
  border-radius: 488px;
  opacity: 0.1;
  background: var(--tertiary);
  filter: blur(100px);
}

.greenBlur {
  background: var(--primary);
}

.gradientBg {
  width: 300px;
  height: 300px;
  position: absolute;
  overflow: visible;
  top: 0;
  left: 0;
  z-index: -1;
}

.gradientBg svg {
  display: none;
}

.gradientsContainer {
  filter: url(#goo) blur(40px);
  width: 100%;
  height: 100%;
}

.g1, .g2, .g3, .g4, .interactive {
  position: absolute;
  mix-blend-mode: hard-light;
  opacity: 0.8;
}

.g1 {
  background: radial-gradient(circle at center, rgba(106, 255, 175, 0.8) 0, rgba(106, 255, 175, 0) 50%) no-repeat;
  width: 140%;
  height: 140%;
  top: calc(50% - 70%);
  left: calc(50% - 70%);
  transform-origin: left center;
  animation: moveVertical 30s ease infinite;
}

.g2 {
  background: radial-gradient(circle at center, rgba(92, 227, 254, 0.8) 0, rgba(92, 227, 254, 0) 50%) no-repeat;
  width: 140%;
  height: 140%;
  top: calc(50% - 70%);
  left: calc(50% - 70%);
  transform-origin: calc(50% - 100px);
  animation: moveInCircle 20s reverse infinite;
}

.g3 {
  background: radial-gradient(circle at center, rgba(106, 255, 175, 0.8) 0, rgba(106, 255, 175, 0) 50%) no-repeat;
  width: 140%;
  height: 140%;
  top: calc(50% - 70% + 50px);
  left: calc(50% - 70% - 125px);
  transform-origin: calc(50% + 100px);
  animation: moveInCircle 40s linear infinite;
}

.g4 {
  background: radial-gradient(circle at center, rgba(92, 227, 254, 0.8) 0, rgba(92, 227, 254, 0) 50%) no-repeat;
  width: 140%;
  height: 140%;
  top: calc(50% - 70%);
  left: calc(50% - 70%);
  transform-origin: calc(50% - 50px);
  animation: moveHorizontal 40s ease infinite;
}

.interactive {
  background: radial-gradient(circle at center, rgba(106, 255, 175, 0.8) 0, rgba(106, 255, 175, 0) 50%) no-repeat;
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  opacity: 0.7;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}