.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Sora;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.container {
  display: flex;
  padding: 40px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  max-width: 950px;
  width: 100%;
}

.elementsContainer {
  display: flex;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
  flex-wrap: wrap;
}

.statValue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  text-align: center;
  font-family: Sora;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* text gradient */
  background: linear-gradient(45deg, var(--primary), var(--tertiary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.statName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--secondary);
  text-align: center;

  /* Body/default/regular */
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .elementsContainer {
    gap: 1.5rem;
    flex-direction: column;
    width: 100%;
  }

  .statValue {
    font-size: 40px;
  }

  .statName {
    font-size: 12px;
  }
}