.container {
  position: relative;
  padding: 22px 39px;
  width: fit-content;
  display: block;
  margin: 0 auto;
}

.title {
  color: var(--secondary);

  /* Title/H2 */
  font-family: Sora;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  margin-top: 8px;
}

.subtitle {
  color: var(--secondary);
  /* Body/middle/regular */
  font-family: Sora;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.8;
}

.corner {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.cornerTopLeft {
}
