.container {
  position: relative;
  padding: 22px 39px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.mainTitleContainer {
  padding-left: 0;
}

.mainTitle {
  display: flex;
  width: 600px;
  flex-direction: column;
  color: var(--secondary);
  text-align: left;
  /* Title/H1 */
  font-family: Sora;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
}

.buttonContainer {
  width: 16rem;
  margin-top: 1.25rem;
}

.mainTitle strong {
  /* text gradient */
  background: linear-gradient(45deg, var(--primary), var(--tertiary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainSubtitle {
  display: flex;
  width: 487px;
  flex-direction: column;
  color: var(--secondary-700, --secondary);
  text-align: left;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-top: 32px;
}

.categoryTitle {
  color: var(--secondary);

  /* Title/H2 */
  font-family: Sora;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  margin-top: 8px;
}

.newCategoryTitle {
  color: var(--secondary);

  /* Title/H2 */
  font-family: Sora-Bold;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 38px;
  margin-top: 8px;
}

.categorySubtitle {
  color: var(--secondary);
  /* Body/middle/regular */
  font-family: Sora;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.8;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media screen and (max-width: 950px) {
  .mainTitle {
    width: 100%;
    font-size: 40px;
    margin-top: 24px;
  }

  .mainSubtitle {
    width: 100%;
    font-size: 16px;
    margin-top: 16px;
  }

  .corner {
    display: none;
  }
}

@media screen and (max-width: 618px) {
  .mainTitle {
    width: 100%;
    font-size: max(min(7vw, 34px), 24px);
    line-height: max(8vw, 25px);
    margin-top: 24px;
    text-align: center;
    color: var(--secondary);
    text-align: center;

    /* Title/H3 */
    font-family: Sora;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 160% */
  }
  .mainTitle strong {
    /* Title/H3 */
    font-family: Sora-Bold;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    font-weight: bold;
  }

  .mainSubtitle {
    color: var(--secondary);
    text-align: center;

    /* Body/default/regular */
    font-family: Sora;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
    margin-top: 2rem;
  }

  .corner {
    display: none;
  }

  .mainTitleContainer {
    position: relative;
    padding: 0;
    width: fit-content;
    display: block;
    margin: 0 auto;
  }

  .squares {
    display: none;
  }

  .buttonContainer {
    display: none;
  }
  .categorySubtitle {
    font-size: 16px;
  }
  .categoryTitle {
    font-size: 24px;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.corner {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.corner.bottomLeft {
  top: unset;
  bottom: 0;
  transform: rotate(-90deg);
}

.corner.topRight {
  left: unset;
  right: 0;
  transform: rotate(90deg);
}

.squares {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.squares.bottomRight {
  top: unset;
  left: unset;
  bottom: 0;
  right: 0;
}

.squares.bottomLeft {
  top: unset;
  left: 0;
  bottom: 0;
}
