.container {
  position: relative;
  padding: 22px 39px;
  width: fit-content;
  display: block;
  margin: 0 auto;
}

.mainTitleContainer {
  padding-left: 0;
}

.mainTitle {
  display: flex;
  width: 600px;
  flex-direction: column;
  color: #f4faff;
  text-align: left;
  /* Title/H1 */
  font-family: Sora;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
}

.mainTitle strong {
  /* text gradient */
  background: linear-gradient(45deg, var(--primary), var(--tertiary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainSubtitle {
  display: flex;
  width: 487px;
  flex-direction: column;
  color: var(--secondary-700, #f4faff);
  text-align: left;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-top: 32px;
}

@media screen and (max-width: 740px) {
  .mainTitle {
    width: 100%;
    font-size: 40px;
    margin-top: 24px;
  }
  .mainSubtitle {
    width: 100%;
    font-size: 16px;
    margin-top: 16px;
  }
  .corner {
    display: none;
  }
}

@media screen and (max-width: 618px) {
  .mainTitle {
    width: 100%;
    font-size: max(min(7vw, 34px), 24px);
    line-height: max(8vw, 25px);
    margin-top: 24px;
    text-align: center;
  }
  .mainSubtitle {
    width: 100%;
    font-size: max(3vw, 16px);
    margin-top: 16px;
    line-height: max(4vw, 19px);
    text-align: center;
  }
  .corner {
    display: none;
  }
  .container {
    position: relative;
    padding: 0;
    width: fit-content;
    display: block;
    margin: 0 auto;
  }
  .squares {
    display: none;
  }
}

.categoryTitle {
  color: var(--secondary);

  /* Title/H2 */
  font-family: Sora;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  margin-top: 8px;
}

.categorySubtitle {
  color: var(--secondary);
  /* Body/middle/regular */
  font-family: Sora;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.8;
}

.corner {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.corner.bottomLeft {
  top: unset;
  bottom: 0;
  transform: rotate(-90deg);
}

.corner.topRight {
  left: unset;
  right: 0;
  transform: rotate(90deg);
}

.squares {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.squares.bottomRight {
  top: unset;
  left: unset;
  bottom: 0;
  right: 0;
}

.squares.bottomLeft {
  top: unset;
  left: 0;
  bottom: 0;
}
