.screen {
  z-index: 0;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
  overflow: hidden;
  padding: 0 30px;
}

.headerContent {
  max-width: min(1500px, 100%);
  margin-top: 7vh;
  margin-left: 15px;
  margin-right: 15px;
}

.title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  background: linear-gradient(90deg, var(--primary) 0%, var(--tertiary) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  color: var(--secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  opacity: 0.7;
  margin-top: 12px;
}

.cardWrapper {
  display: flex;
  margin: 0 auto;
}

.cards {
  min-width: min(1500px, calc(100% - 32px));
  text-align: left;
  margin-top: 42px;
  width: 100%;
}

.card {
  display: flex;
  padding: 40px;
  gap: 56px;
  border-radius: 30px;
  background: linear-gradient(90deg, var(--background), #070708);
  background-blend-mode: overlay;
  position: relative;
  margin-bottom: 40px;
}

.background {
  position: absolute;
  border-radius: 30px;
  opacity: 0.1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: auto 110%;
}

.backgroundFilter {
  position: absolute;
  border-radius: 30px;
  background: linear-gradient(
      90deg,
      rgba(17, 16, 24, 0),
      rgba(17, 16, 24, 0.51)
  );
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.card::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  left: 0;
  bottom: 0;
  background: linear-gradient(5deg, var(--background) 80%, transparent);
  border-radius: 30px;
  z-index: -1;
}

.card::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  left: 1px;
  bottom: 1px;
  background: linear-gradient(90deg,
      #437aba 0%,
      #59c2e8 45%,
      #00ff77 60%,
      #59c2e8 70%,
      #437aba50 100%);
  border-radius: 30px;
  z-index: -1;
}

.cardContainer {
  position: relative;
  width: 100%;
}

.cardContainer:nth-child(even) .card::before {
  background: linear-gradient(90deg,
      #437aba 0%,
      #1e74d6 45%,
      #00fbff 60%,
      #1e74d6 70%,
      #437aba50 100%);
}

.cardTitle {
  color: var(--secondary);
  font-family: Sora;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.cardSubtitle {
  color: var(--tertiary);
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.card:nth-child(even) .cardSubtitle {
  color: var(--primary);
}

.levels {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 24px;
  width: 100%;
}

.levelContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 16px;
  border-radius: 8px;
  border: 1px solid #e1dcea;
  background: var(--background600);
  height: 85px;
  gap: 16px;
  cursor: url(../public/icons/pointer-cursor.png), pointer;
  flex-grow: 1;
  min-width: 0;
  justify-content: space-between;
}

.levelContainer.completed {
  border: 1px solid var(--tertiary);
}

.card:nth-child(even) .levelContainer.completed {
  border: 1px solid var(--primary);
}

.levelInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.levelTitle {
  color: var(--secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.16px;
}

.levelDesc {
  color: var(--secondary);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.levelImg {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.levelImg {
  width: 60px;
  height: auto;
}

.disabled {
  filter: grayscale(1);
}

.tooltipTitle {
  color: #e1dcea;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.tooltipSub {
  color: #e1dcea;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  opacity: 0.8;
}

.achievementSkeleton {
  height: 250px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.achievementLoading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
}

.titleContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.refreshButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 4px 16px;
  cursor: url(../public/icons/pointer-cursor.png), pointer;
  background-color: #ffffff;
  border-radius: 10px;
  background: var(--secondary);
  box-shadow: 0px 0px 6px 0px rgba(106, 255, 175, 0.1);

  color: var(--background);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

@media (max-width: 768px) {
  .container {
    padding: 0;
    text-align: center;
  }

  .cards {
    margin: 42px auto;
  }

  .levels {
    flex-direction: column;
  }

  .levelContainer {
    justify-content: space-between;
  }

  .titleContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}