.title {
  font-family: "Sora-Bold";
  font-size: 2.5rem;
  text-align: center;
  background: linear-gradient(45deg, var(--primary), var(--tertiary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  max-width: 950px;
  text-align: center;
}

.container {
  padding: 12vh 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tag {
  width: auto;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background600);
  border-radius: 24px;
  gap: 0.5rem;
}

.uniqueUserCard {
  position: relative;
  width: 100%;
  background: #1f1f25;
  border-radius: 8px;
  box-shadow: 0px 2px 30px 0px #6affaf29;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  z-index: 0; /* allow pseudo-element to go behind */
  overflow: hidden; /* clip any overflow from pseudo */
}

.uniqueUserCard::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 1px; /* border thickness */
  background: conic-gradient(
    from 190deg at 24.95% 95%,
    rgba(0, 0, 0, 0.105455) -2.11deg,
    rgba(106, 255, 175, 0) 131.45deg,
    #6affaf 175.58deg,
    rgba(106, 255, 175, 0) 252.32deg,
    rgba(0, 0, 0, 0.0885149) 310.85deg,
    rgba(0, 0, 0, 0.105455) 357.89deg,
    rgba(106, 255, 175, 0) 491.45deg
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  z-index: -1;
  box-sizing: border-box;
}

.dataCard {
  background: linear-gradient(180deg, #29282b 0%, #101012 100%);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.25rem;
  border-radius: 8px;
  position: relative;
}

.dataCard::before {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  left: -1px;
  bottom: 95%;
  background: linear-gradient(
    90deg,
    #437aba 0%,
    #59c2e8 45%,
    #00ff77 60%,
    #59c2e8 70%,
    #437aba50 100%
  );
  border-radius: 8px;
  z-index: 1;
  mask: linear-gradient(0deg, transparent 92%, black);
}

.counterText {
  font-family: "Sora-Bold";
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--secondary);
}

.metricName {
  font-family: "Sora-Bold";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: left;
}

.uniqueUserText {
  font-family: "Sora";
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.highlightedText {
  font-family: "Sora";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  background: linear-gradient(45deg, var(--primary), var(--tertiary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.normalText {
  font-family: "Sora";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--textGray);
}

.tasksContainer {
  width: 100%;
  padding: 2rem;
  background: #1f1f25;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 950px;
  border-radius: 8px;
}

.borderConicGradient {
  /* The gradient from Figma */
  border-image-source: conic-gradient(
    from 180deg at 51.95% 49.81%,
    rgba(0, 0, 0, 0.105455) -2.11deg,
    rgba(106, 255, 175, 0) 131.45deg,
    #6affaf 175.58deg,
    rgba(106, 255, 175, 0) 252.32deg,
    rgba(0, 0, 0, 0.0885149) 310.85deg,
    rgba(0, 0, 0, 0.105455) 357.89deg,
    rgba(106, 255, 175, 0) 491.45deg
  );

  /* This is essential for the border-image to work correctly */
  border-image-slice: 1;
}

.borderConicGradientBlue {
  border-image-slice: 1;

  border-image-source: conic-gradient(
    from 180deg at 51.95% 49.81%,
    rgba(0, 0, 0, 0.105455) -2.11deg,
    rgba(93, 229, 250, 0) 131.45deg,
    #5de5fa 175.58deg,
    rgba(93, 229, 250, 0) 252.32deg,
    rgba(0, 0, 0, 0.0885149) 310.85deg,
    rgba(0, 0, 0, 0.105455) 357.89deg,
    rgba(93, 229, 250, 0) 491.45deg
  );
}

@media screen and (max-width: 768px) {
  .dataCard {
    justify-content: center;
    align-items: center;
  }

  .tasksContainer {
    padding: 1rem;
  }

  .counterText {
    font-size: 20px;
  }

  .title {
    font-size: 2rem;
  }
}
