@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Sora";
    src: url(../public/fonts/sora/Sora-Regular.ttf);
  }

  @font-face {
    font-family: "Sora-Bold";
    src: url(../public/fonts/sora/Sora-Bold.ttf);
  }

  @font-face {
    font-family: "Sora-ExtraBold";
    src: url(../public/fonts/sora/Sora-ExtraBold.ttf);
  }
}

:root {
  --primary: #6affaf;
  --secondary: #f4faff;
  --secondary500: #e1dcea;
  --secondary300: #eae0d5;
  --tertiary: #5ce3fe;
  --background: #101012;
  --background600: #29282b;
  --background500: #e1dcea;
  --nimiq-ease: cubic-bezier(0.25, 0, 0, 1);
  --shapes: #66666f;
  --menu-background: #1f1f25;
  --white: #fff;
  --textGray: #a6a5a7;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Sora";
  background-color: var(--background);
  color: var(--secondary);
  cursor: url(../public/icons/cursor.png), auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.title {
  font-family: "Sora";
  font-size: 2.5rem;
  text-align: center;
  background: linear-gradient(45deg, var(--primary), var(--tertiary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.title.extrabold {
  font-family: "Sora-ExtraBold";
}

/* Scroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background600);
  border-radius: 10px;
}

/* ---------------------- */

* {
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .title {
    font-size: 2rem;
  }

  p {
    font-size: 0.8rem;
  }
}

.sora {
  font-family: "Sora";
}

.modified-cursor-pointer {
  cursor: url(../public/icons/pointer-cursor.png), auto;
}

a,
button {
  cursor: url(../public/icons/pointer-cursor.png), auto;
}