@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Sora";
    src: url(../public/fonts/sora/Sora-Regular.ttf);
  }

  @font-face {
    font-family: "Sora-Bold";
    src: url(../public/fonts/sora/Sora-Bold.ttf);
  }

  @font-face {
    font-family: "Sora-ExtraBold";
    src: url(../public/fonts/sora/Sora-ExtraBold.ttf);
  }
}

:root {
  --primary: #6affaf;
  --secondary: #f4faff;
  --secondary500: #e1dcea;
  --secondary300: #eae0d5;
  --tertiary: #5ce3fe;
  --background: #101012;
  --background600: #29282b;
  --background500: #e1dcea;
  --nimiq-ease: cubic-bezier(0.25, 0, 0, 1);
  --shapes: #66666f;
  --menu-background: #1f1f25;
  --white: #fff;
  --textGray: #a6a5a7;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Sora";
  background-color: var(--background);
  color: var(--secondary);
  cursor: url(../public/icons/cursor.png), auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

.title {
  font-family: "Sora";
  font-size: 2.5rem;
  text-align: center;
  background: linear-gradient(45deg, var(--primary), var(--tertiary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.title.extrabold {
  font-family: "Sora-ExtraBold";
}

/* Scroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background600);
  border-radius: 10px;
}

/* ---------------------- */

* {
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .title {
    font-size: 2rem;
  }

  p {
    font-size: 0.8rem;
  }
}

.sora {
  font-family: "Sora";
}

.modified-cursor-pointer {
  cursor: url(../public/icons/pointer-cursor.png), auto;
}

a,
button {
  cursor: url(../public/icons/pointer-cursor.png), auto;
}

/* #questCollectionTab button {
  padding: 5px;
}


#questCollectionTab button[aria-selected="false"]:hover {
  color: black;
}

#questCollectionTab button[aria-selected="true"] {
  color: black;
}

.chipTab.active {
  background-color: #fff;
}

.chipTab.inactive {
  background-color: transparent;
}

#chipCollectionTab > .chipTab[aria-selected="false"]:hover {
  background-color: var(--textGray);
} */

/* start nav tab styles */

#navTabWrapper {
  position: relative;
  z-index: 100;
}

#chipTabWrapper {
  position: relative;
  z-index: 100;
}

#navTabWrapper .tab-box > hr,
#navTabWrapper .dash-box > hr,
#chipTabWrapper .chip-box > hr {
  display: none;
}

.nav-tab {
  cursor: url(../public/icons/pointer-cursor.png), pointer;
}

@media  screen and  (min-width: 768px) {
#navTabWrapper .tab-box, .dash-box {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 10px;
  z-index: 100;
}

#navTabWrapper .dash-box {
  padding-left: 10px;
}

#navTabWrapper .tab-box > span {
  position: absolute;
  inset: 0;
  height: 40px;
  width: 31%;
  margin: 0;
  background: #fff;
  border-radius: 10px;
  border: none;
  z-index: 11;
  transition: .3s ease-in-out;
}

#navTabWrapper .tab-box > hr {
  display: block;
  position: absolute;
  inset: 0;
  height: 40px;
  width: 30%;
  margin: 0;
  background: var(--textGray);
  border-radius: 10px;
  opacity: 0;
  border: none;
  z-index: 10;
  transition: margin-left .3s ease-in-out;
}

#navTabWrapper .dash-box > span {
  position: absolute;
  inset: 0;
  height: 40px;
  width: 48%;
  margin: 0;
  background: #fff;
  border-radius: 10px;
  border: none;
  z-index: 11;
  transition: .3s ease-in-out;
}

#navTabWrapper .dash-box > hr {
  display: block;
  position: absolute;
  inset: 0;
  height: 40px;
  width: 48%;
  margin-left: -50px;
  background: var(--textGray);
  border-radius: 10px;
  opacity: 0;
  border: none;
  z-index: 10;
  transition: margin-left .3s ease-in-out;
}

#chipTabWrapper .chip-box > span {
  position: absolute;
  inset: 0;
  height: 95%;
  width: 25%;
  margin: 0;
  background: #fff;
  border-radius: 10px;
  border: none;
  z-index: 11;
  transition: .3s ease-in-out;
}

#chipTabWrapper .chip-box > hr {
  display: block;
  position: absolute;
  inset: 0;
  height: 95%;
  width: 25%;
  margin: 0;
  background: var(--textGray);
  border-radius: 10px;
  opacity: 0;
  border: none;
  z-index: 10;
  transition: margin-left .3s ease-in-out;
}

/* quest active tab styling */

#navTabWrapper .tab-box .nav-item2.active ~ span {
  margin-left: 33%;
}

#navTabWrapper .tab-box .nav-item3.active ~ span {
  margin-left: 66%;
}

/* dashboard tabs active styling */
#navTabWrapper .dash-box .nav-item2.active ~ span {
  margin-left: 51%;
}

#navTabWrapper .dash-box .nav-tab.active:hover ~ hr {
  opacity: 0 !important;
}

/* quest active tab on hover styling */
#navTabWrapper .tab-box .nav-item2.active:hover ~ hr {
  opacity: 0;
}

#navTabWrapper .tab-box .nav-item3.active:hover ~ hr {
  opacity: 0;
}

#navTabWrapper .tab-box .nav-item2:hover + .nav-item3.active ~ hr {
  margin-left: 35%;
}

/* chip_list */
#chipTabWrapper .chip-box .nav-item2.active ~ span {
  margin-left: 25%;
}

#chipTabWrapper .chip-box .nav-item3.active ~ span {
  margin-left: 50%;
}

#chipTabWrapper .chip-box .nav-item4.active ~ span {
  margin-left: 75%;
}

/* chiplist active tab on hover styling */
#chipTabWrapper .chip-box .nav-tab.active:hover ~ hr {
  opacity: 0 !important;
}



@keyframes fadeIn {
  0%, 14% {
    opacity: 0;
  }

  15%, 100% {
    opacity: 1;
  }
}

/* active state */
.tab-box, .dash-box, .chip-box > div.active {
  color: #000;
}
}
/* end of nav tab styles */