.screen404,
.screen {
  z-index: 1;
  position: relative;
  padding-top: 12vh;
  background-color: var(--background);
  width: 100%;
}

.screen404 {
  height: 100vh;
}

.questContainer,
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  width: 100%;
  margin-bottom: 3rem;
}

.questContainer {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 950px;
  margin-bottom: 3rem;
  margin-top: 1rem;
  margin-top: 3rem;
}

.title {
  font-family: "Sora-Bold";
  font-size: 2.5rem;
  text-align: center;
  background: linear-gradient(45deg, var(--primary), var(--tertiary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.questCategories {
  width: 100%;
  max-width: 950px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.questCategory {
  display: flex;
  padding: 28px 40px;
  align-items: center;
  border-radius: 8px;
  background: var(--menu-background);
  width: 100%;

  /* Small Shadow */
  box-shadow: 0px 2px 30px 0px rgba(16, 16, 18, 0.06);
  border: solid 1px transparent;
  cursor: pointer;
}

.questCategory:hover {
  border: solid 1px var(--secondary500);
}

.questCategory img {
  width: 218px;
  height: 218px;
  max-width: 400px;
  border-radius: 8px;
}

.categoryInfos {
  width: 100%;
  height: 218px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.categoryInfos h2 {
  font-family: "Sora-Bold";
  font-size: 1.8rem;
  color: var(--secondary);
  margin-bottom: auto;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .title {
    font-size: 2rem;
  }
}

.blur1 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.blur2 {
  position: absolute;
  right: 0;
  z-index: -1;
}

.backButton {
  margin-left: 63px;
  z-index: 10;
}

.controls {
  display: none;
  gap: 1rem;
  margin: 1rem 0;
}

.controls button[aria-selected="true"] {
  background-color: white;
  color: var(--background);
  border-radius: 10px;
  display: flex;
  height: 32px;
  padding: 0px 12px;
  align-items: center;
  gap: 8px;
}

.featured_quest_banner_container {
  width: 100%;
  max-width: 950px;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .cardTitle {
    font-size: 1.5rem;
  }

  .controls {
    display: flex;
  }

  .questCategory {
    width: calc(100% - 2rem);
    flex-direction: column;
    padding: 1rem;
    position: relative;
    margin-top: 1px;
  }

  .questCategory::before {
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    left: -1px;
    bottom: -1px;
    background: linear-gradient(
      90deg,
      #437aba 0%,
      #59c2e8 45%,
      #00ff77 60%,
      #59c2e8 70%,
      #437aba50 100%
    );
    border-radius: 8px;
    z-index: -1;
    mask: linear-gradient(4deg, transparent 92%, black);
  }

  .categoryInfos {
    width: 100%;
    height: auto;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .questCategory img {
    width: 100%;
    height: auto;
    margin-top: 1rem;
  }

  .categoryInfos h2 {
    margin-bottom: 0.8rem;
  }

  .categoryDetails .content {
    max-width: calc(100% - 24px);
  }

  .backButton {
    margin-left: 24px;
  }
}
