.leaderboard_heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.chip_list {
  display: grid;
  grid-template-columns: 3;
  gap: 8px;
  border-radius: 24px;
}


.leaderboardSkeleton {
  height: 90vh;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.leaderboardLoading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
}


.percentile_text_normal {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #A6A5A7;
}


.percentile_text_green {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #6AFFAF;
}

.percentile_text_container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100%;
  align-items: baseline;
  justify-content: start;
}

.rows_text {
  color: #A6A5A7;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.walletMenu {
  position: absolute;
  left: -1px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  transform: translateY(100%);
  background-color: var(--background600);
  border: 1px solid var(--secondary500);
  z-index: 100;
}

.menu_button {
  padding: 6px;
  color: #A6A5A7;
}

.menu_button:hover {
  color: white;
}

.quests_text {
  color: var(--background-400, #E1DCEA);
  text-align: right;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
}


@media (max-width: 768px) {
  .percentile_text_container {
    justify-content: center;
  }
}


.search_bar {
  background-color: transparent;
  outline: none;
  margin-left: 0.5rem;
  width: 100%;
}

.search_bar:focus {
  outline: red;
}

.search_bar_container {
  border: 1px solid transparent;
  padding: 10px;
  transition: border-color 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: #101012;
  width: 100%;
  border-radius: 0.5rem;
  z-index: 100;
}

.search_bar_container:focus-within {
  border-color: white;
  /* Change the border color when an input is focused */
}

.search_bar_suggestions {
  position: absolute;
  height: auto;
  bottom: 0.4rem;
  transform: translateY(100%);
  width: 100%;
  background-color: #101012;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid white;
}