.leaderboard_heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.chip_list {
  display: grid;
  grid-template-columns: 3;
  gap: 8px;
  border-radius: 24px;
}


.leaderboardSkeleton {
  height: 90vh;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.leaderboardLoading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
}


.percentile_text_normal {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #A6A5A7;
}


.percentile_text_green {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #6AFFAF;
}

.percentile_text_container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100%;
  align-items: baseline;
  justify-content: start;
}

.rows_text {
  color: #A6A5A7;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.walletMenu {
  position: absolute;
  left: -1px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  transform: translateY(100%);
  background-color: var(--background600);
  border: 1px solid var(--secondary500);
  z-index: 100;
}

.menu_button {
  padding: 6px;
  color: #A6A5A7;
}

.menu_button:hover {
  color: white;
}

.quests_text {
  color: var(--background-400, #E1DCEA);
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}


@media (max-width: 768px) {
  .percentile_text_container {
    justify-content: center;
  }
}