.screen {
  z-index: 0;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.stepsContainer {
  position: relative;
  width: fit-content;
  display: block;
  margin: 0 auto;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

.headerContent {
  display: flex;
  padding: 0 128px;
  z-index: 4;
  width: 100%;
  margin-top: 7vh;
  height: 100%;
  justify-content: center;
}

.headerImg {
  height: 85%;
  max-height: 1000px;
  aspect-ratio: 1;
  transform: rotate3d(10, -2, -1.4, calc(var(--scroll) * 0.04deg))
    scale(min(calc(1 + var(--scroll) / 10000), 1.4));
}

.mainTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transform: translateY(-45px);
}

.mainTitleContainer h1 {
  width: 100%;
}

.divider {
  width: 100vw;
  position: absolute;
  z-index: 4;
  bottom: 0;
  transform: translateY(calc(100% - 90px));
}

.dividerGradient {
  bottom: 1px;
  background: linear-gradient(
    90deg,
    #437aba57 0%,
    #1e74d6bf 45%,
    #00ddff 60%,
    #1e74d6ba 70%,
    #437aba2d 100%
  );
  width: 100%;
  height: 90px;
  mask: url("/utils/headerDivider.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
  z-index: -3;
}

.main {
  background-color: var(--background);
  width: 100vw;
  z-index: 6;
  margin: 0;
}

.section {
  width: 100%;
  z-index: 6;
}

.title {
  color: var(--secondary);

  /* Title/H2 */
  font-family: Sora;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 133.333% */
}

.blueBlur {
  position: absolute;
  border-radius: 488px;
  opacity: 0.15;
  background: var(--primary-blue, --tertiary);
  filter: blur(100px);
  left: -200px;
  top: -100px;
  width: 488px;
  height: 285px;
}

@media (max-width: 1300px) {
  .headerImg {
    display: none;
  }
  .cross {
    display: none;
  }
  .mainTitleContainer {
    width: 100vw;
    margin: 20px;
  }
  .header {
    width: 100vw;
    margin: 0;
  }
}

@media (max-width: 800px) {
  .headerContent {
    padding: 0 0px;
  }
}

.partnerSection {
  margin: 2rem 128px 2rem;
  position: relative;
  border-radius: 8px;
  background: linear-gradient(180deg, var(--background600) 0%, rgba(41, 40, 43, 0) 100%);
  padding: 24px;
  width: calc(100% - 256px);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.partners {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.partners img {
  margin: auto;
}

.cross1 {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
}

.cross2 {
  position: absolute;
  right: -100px;
  top: -100px;
}

.dots1 {
  position: absolute;
  transform: translateY(-140px) translateX(-10px);
}

.dots2 {
  position: absolute;
  transform: translateY(-60px) translateX(70px);
}

.dots3 {
  display: none;
}

.lastCrosses {
  position: absolute;
  right: -128px;
  top: 0;
  bottom: 0;
  background-color: red;
}

.teamContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 128px 2rem;
  position: relative;
  gap: 48px;
  flex-wrap: wrap;
}

.twitterIcon {
  display: flex;
  border-radius: 2px;
  width: 24px;
  height: 24px;
  background: var(--secondary);
  align-items: center;
  justify-content: center;
}

.blur1 {
  position: absolute;
  z-index: -1;
}

.blur2 {
  position: absolute;
  z-index: 100;
  right: 0;
  transform: translateX(50%) translateY(50%);
}

@media screen and (max-width: 740px) {
  .cross1,
  .blueBlur,
  .blur1,
  .blur2,
  .cross2,
  .lastCrosses,
  .divider,
  .dots2,
  .dots1 {
    display: none;
  }
  .partnerSection {
    padding: 2rem 24px 2rem;
  }
  .header {
    padding-top: 12vh;
    height: fit-content;
    background: linear-gradient(180deg, var(--background) 0.04%, var(--background600) 347.42%);
    padding-bottom: 3rem;
  }
  .mainTitleContainer {
    height: fit-content;
    max-width: calc(100% - 40px);
    transform: none;
    margin-bottom: 1.5rem;
  }
  .headerContent {
    flex-direction: column;
    margin-top: 0;
  }
  .headerImg {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 280px;
  }
  .main {
    padding-top: 3rem;
  }
  .dots3 {
    display: block;
    position: absolute;
    left: calc(50% + 130px);
    transform: translateY(180px);
  }
  .partnerSection {
    background: transparent;
    margin: 0 1rem;
    width: calc(100% - 2rem);
  }
  .partners {
    margin-top: 0;
    padding-top: 10px;
    gap: 1.5rem;
  }
  .teamContainer {
    padding: 1.5rem;
    gap: 1.5rem;
    margin-bottom: 28px;
  }
  .title {
    font-size: 24px;
  }
  .twitterIcon {
    width: 16px;
    height: 16px;
    padding: 1.5px;
  }
  .stepsContainer {
    margin: 0 1rem;
  }
}
