.screen {
  z-index: 0;
  position: relative;
  background-color: var(--background600);
  width: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.stepsContainer {
  position: relative;
  width: fit-content;
  display: block;
  margin: 0 auto;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

.headerContent {
  display: flex;
  padding: 0 128px;
  z-index: 4;
  width: 100%;
  margin-top: 7vh;
  height: 100%;
}

.headerImg {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -6;
  width: max(400px, 60%);
  aspect-ratio: 1;
  transform: rotate3d(10, -2, -1.4, calc(var(--scroll) * 0.04deg))
    scale(min(calc(1 + var(--scroll) / 10000), 1.4)) translate(20%, 20%);
}

.mainTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transform: translateY(-45px);
}

.mainTitleContainer h1 {
  width: 100%;
}

.divider {
  width: 100vw;
  position: absolute;
  z-index: 4;
  bottom: 0;
  transform: translateY(calc(100% - 90px));
}

.dividerGradient {
  bottom: 1px;
  background: linear-gradient(
    90deg,
    #437aba57 0%,
    #1e74d6bf 45%,
    #00ddff 60%,
    #1e74d6ba 70%,
    #437aba2d 100%
  );
  width: 100%;
  height: 90px;
  mask: url("/utils/headerDivider.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
  z-index: -3;
}

.main {
  background-color: var(--background);
  width: 100vw;
  z-index: 6;
  margin: 0;
}

.section {
  width: 100%;
  z-index: 6;
}

@media (max-width: 950px) {
  .headerImg {
    display: none;
  }
  .cross {
    display: none;
  }
  .mainTitleContainer {
    width: 100vw;
    margin: 20px;
  }
  .header {
    width: 100vw;
    margin: 0;
  }
}

@media (max-width: 800px) {
  .headerContent {
    padding: 0 0px;
  }
}

.partnerSection {
  padding: 2rem 128px 2rem;
  position: relative;
}

.partnersContainer {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.partnersContainer img {
  margin: auto;
}

.cross1 {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
}

.cross2 {
  position: absolute;
  right: -100px;
  top: -100px;
}

.dots1 {
  position: absolute;
  transform: translateY(-140px) translateX(-10px);
}

.dots2 {
  position: absolute;
  transform: translateY(-60px) translateX(70px);
}

@media screen and (max-width: 740px) {
  .partnerSection {
    padding: 2rem 24px 2rem;
  }
  .cross2 {
    display: none;
  }
  .lastCrosses {
    display: none;
  }
}
