.name {
  font-family: "Sora-Bold";
  font-size: 2.3rem;
  line-height: normal;
  text-align: center;
  background: linear-gradient(45deg, var(--primary), var(--tertiary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
}

.profiles {
  position: absolute;
  right: 25px;
  top: 100px;
  z-index: 1;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.profileCard {
  display: flex;
  padding: 24px 16px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  background: var(--background600, #29282B);
  width: 250px;
}

.title {
  align-self: stretch;
  color: var(--secondary, #F4FAFF);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.16px;
}

.divider {
  height: 0.5px;
  align-self: stretch;
  opacity: 0.3;
  background: var(--background500, #E1DCEA);
}

.nameCard {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.profilePicture {
  border-radius: 36px;
  border: 1px solid var(--secondary, #F4FAFF);
  box-shadow: 0px 2.1599998474121094px 28.799999237060547px 0px rgba(191, 158, 123, 0.06);
  width: 72px;
  height: 72px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.starknetInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.address {
  margin-left: 8px;
  color: var(--secondary, #F4FAFF);
  font-family: Sora;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.memberSince {
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: linear-gradient(180deg, rgba(225, 220, 234, 0.5) 0%, rgba(225, 220, 234, 0.5) 100%);
  background-blend-mode: overlay;
}

.memberSince > p {
  color: var(--secondary, #F4FAFF);
  text-align: center;
  font-family: Sora;
  font-size: 8px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.progress {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  width: 100%;
}

.trophy {
  border-radius: 3.429px;
  background: #E6CD84;
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

.polygonContainer {
  width: 28px;
  height: 28px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}

.polygonContainer img {
  width: 100%;
  transform: scale(2.9);
}

.xp {
  color: var(--background, #101012);
  text-align: center;
  font-family: Sora;
  font-size: 10.286px;
  font-style: normal;
  font-weight: 600;
  line-height: 13.714px;
  position: absolute;
  top: 6px;
  right: 6px;
}

.cameraIcon {
  background-color: #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0px;
  cursor: pointer;
}
.cameraAlt {
  color: var(--background600);
  width: 25px;
  height: 25px;
}

@media (max-width: 768px) {
  .profiles {
    gap: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 32px;
    z-index: 0;
  }

  .profileCard {
    width: calc(100% - 32px);
    margin-left: 38px;
  }
}

.tooltip {
  display: flex;
  padding: 12px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 12px;
  background: var(--background, #101012);
  width: 250px;
  height: 90px;

  /* position: absolute;
  top: 100px;
  z-index: 1;
  left: 189px; */
}

.miniature {
  background-color: #29282B;
  border-radius: 36px;
  box-shadow: 0px 2.1599998474121094px 28.799999237060547px 0px rgba(191, 158, 123, 0.06);
  width: 45px;
  height: 45px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.level {
  color: var(--secondary, #F4FAFF);
  font-family: Sora;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  border-radius: 6px;
  background: linear-gradient(180deg, rgba(225, 220, 234, 0.2) 0%, rgba(225, 220, 234, 0.2) 100%);
  background-blend-mode: overlay;
  padding: 2px 8px;
}

.buildingName {
  color: var(--background500, #E1DCEA);
  font-family: Sora;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.buildingDescription {
  color: var(--background500, #E1DCEA);
  font-family: Sora;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  opacity: 0.8;
}