.name {
  font-family: "Sora-Bold";
  font-size: 2.3rem;
  line-height: normal;
  text-align: center;
  background: linear-gradient(45deg, var(--primary), var(--tertiary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.profiles {
  position: absolute;
  right: 25px;
  top: 80px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  bottom: 16px;
  padding-top: 48px;
  margin: 0;
}

.profileCard {
  display: flex;
  padding: 24px 16px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  background: var(--background600, #29282b);
  width: 310px;
}

.title {
  align-self: stretch;
  color: var(--secondary, #f4faff);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.16px;
}

.divider {
  height: 0.5px;
  align-self: stretch;
  opacity: 0.3;
  background: var(--background500, --secondary500);
}

.nameCard {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.profilePicture {
  border-radius: 36px;
  border: 1px solid var(--secondary, #f4faff);
  box-shadow: 0px 2.1599998474121094px 28.799999237060547px 0px
    rgba(191, 158, 123, 0.06);
  width: 72px;
  height: 72px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.starknetInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.address {
  margin-left: 22px;
  color: var(--secondary, #f4faff);
  font-family: Sora;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.memberSince {
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--menu-background);
  background-blend-mode: overlay;
}

.memberSince > p {
  color: var(--secondary, #f4faff);
  text-align: center;
  font-family: Sora;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.tabs {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  border-radius: 10px;
  background: rgba(16, 16, 18, 0.3);
  height: 32px;
  cursor: url(../public/icons/pointer-cursor.png), pointer;

  color: var(--secondary500);
  font-family: Sora;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.tab {
  display: flex;
  height: 32px;
  padding: 8px;
  align-items: center;
  gap: 8px;
}

.selectedTab {
  background: var(--white);
  color: var(--background);
  border-radius: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 10px;
  overflow-y: auto;
}

.gallery::-webkit-scrollbar-thumb {
  background: #414044;
  border-radius: 8px;
  border: 3px solid var(--background600);
}

.nftContainer {
  width: calc(50% - 5px);
  border-radius: 8px;
  background: var(--menu-background);
}

.nftName {
  color: var(--secondary);
  font-size: 9px;
  text-align: center;
  padding: 10px;
}

.nftImage {
  border-radius: 8px 8px 0 0;
  height: 100px;
  margin: auto;
  object-fit: cover;
  width: 100%;
}

.achievementImage {
  border-radius: 8px 8px 0 0;
  height: 100px;
  margin: auto;
}

.achievementLvl {
  color: var(--secondary);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  /* 133.333% */
}

.achievementName {
  color: var(--secondary);
  font-size: 9px;
  text-align: center;
  opacity: 0.7;
  padding: 2px 0 10px;
}

.cameraIcon {
  background-color: #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0px;
  cursor: url(../public/icons/pointer-cursor.png), pointer;
}

.cameraAlt {
  color: var(--background600);
  width: 25px;
  height: 25px;
}

.loading {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.profileBg {
  background-image: url("/land/textures/SID_Background_SpaceLoop.gif");
  background-repeat: repeat;
}

.shareButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  padding: 4px 16px;
  gap: 8px;
  border-radius: 10px;
  background: var(--background-700, --background);
  /* Button shadow */
  box-shadow: 0px 0px 6px 0px rgba(106, 255, 175, 0.1);
}

@media (max-width: 768px) {
  .profiles {
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    position: static;
    padding-bottom: 6rem;
    padding-top: 8px;
    z-index: 0;
  }

  .profileCard {
    width: calc(100% - 3rem);
    margin: 0 1.5rem;
    max-height: none;
  }
}
