/* Component quest on the /quests page  */
.questCard {
  width: 250px;
  background-color: #fff;
  border: 4px solid var(--background600);
  border-radius: 8px;
  padding: 0px;

  display: flex;
  flex-direction: column;
  background-color: var(--background600);
  cursor: pointer;
}

.questImage {
  border-radius: 8px;
  border-width: 0px;
}

.questInfos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
}

.questTitle {
  font-size: 1.3rem;
  color: var(--secondary);
  font-family: "Sora-Bold";
  margin: 0px;
}

/* Quest page  */
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.nftStyle {
  width: 200px;
  height: 200px;
  border: 2px solid var(--secondary);
  border-radius: 30px;
}

.issuer,
.level {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 61px;
  margin-top: 1rem;

  width: 110px;
  height: 36px;

  /* Background/600 */

  background: var(--background600);
  border-radius: 100px;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
}

.issuer {
  width: fit-content;
  gap: 10px;
  margin-bottom: 1rem;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 1rem 1rem 0 1rem;
  gap: 12px;
}

.taskContainer {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.task {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  width: 728px;

  /* Background/600 */
  background: #29282b;
  border-radius: 8px;
  cursor: pointer;
  padding: 5px 24px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.taskTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 58px;
  width: 100%;
}

.taskDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: translateY(-10px); /* Add this line */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.taskDescription.visible {
  overflow: default;
  opacity: 1;
  height: auto;
  max-height: initial;
  margin-bottom: 1rem;
  transform: translateY(0px); /* Add this line */
}

.taskDescription.hidden {
  opacity: 0;
  max-height: 0;
  transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
}

.verifyButton {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 10px;

  width: 130px;
  height: 38px;

  /* Background/500 */

  background: var(--secondary);
  color: var(--background600);
  border-radius: 6px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.reward {
  /* Reward wrapper */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  gap: 48px;

  width: 728px;
  height: 104px;
  max-width: 90%;
  margin-top: 1.5rem;

  /* Background/600 */
  background: #29282b;

  /* Small Shadow */
  box-shadow: 0px 2px 30px rgba(16, 16, 18, 0.06);
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}

.featuredQuest {
  width: 950px;
  height: 350px;
  margin-bottom: 5rem;
  background-color: var(--background600);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  gap: 0.5rem;
  position: relative;
}

.featuredQuestInfos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.1rem;
  width: 100%;
  margin-left: 3rem;
}

.featuredQuestImage {
  height: 100%;
  border-radius: 8px;
}

.featuredQuestTitle {
  font-family: "Sora-Bold";
  font-size: 2.5rem;
  background: var(--secondary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  align-items: flex-start;
}

@media (max-width: 1024px) {
  .verifyButton {
    width: 100px;
    height: 38px;
  }
}
