/* Quest page  */
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.nftStyle {
  width: 200px;
  height: 200px;
  border: 2px solid var(--secondary);
  border-radius: 30px;
}

.level {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 61px;
  margin-top: 1rem;

  width: 110px;
  height: 36px;

  /* Background/600 */

  background: var(--background600);
  border-radius: 100px;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 1rem 1rem 0 1rem;
  gap: 12px;
}

.taskContainer {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.task {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  width: 728px;

  background-color: var(--menu-background);
  border-radius: 8px;
  cursor: url(../public/icons/pointer-cursor.png), pointer;
  padding: 5px 24px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.questStats {
  max-width: 90%;
  width: 728px;
  display: flex;
}

.taskTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 58px;
  width: 100%;
}

.taskDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: translateY(-10px);
  /* Add this line */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.taskDescription.visible {
  overflow: default;
  opacity: 1;
  height: auto;
  max-height: initial;
  margin-bottom: 1rem;
  transform: translateY(0px);
  /* Add this line */
}

.taskDescription.hidden {
  opacity: 0;
  max-height: 0;
  transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
}

.verifyButton {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 10px;

  width: 130px;
  height: 38px;

  /* Background/500 */

  background: var(--secondary);
  color: var(--background600);
  border-radius: 6px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.reward {
  /* Reward wrapper */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  gap: 48px;

  width: 728px;
  max-width: 90%;
  margin-top: 1.5rem;

  background-color: var(--menu-background);

  /* Small Shadow */
  box-shadow: 0px 2px 30px rgba(16, 16, 18, 0.06);
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}

.featuredQuest {
  width: 100%;
  height: 448px;
  background: linear-gradient(var(--background600), transparent);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  gap: 0.5rem;
  position: relative;
}

.featuredQuestInfos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.1rem;
  width: 100%;
}

.featuredQuestImageContainer {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 8px;
  position: relative;
}

.featuredQuestImage {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

/* Setting !important to override MuiSkeleton-root styles */
/* Reference: https://github.com/starknet-id/starknet.quest/pull/557#discussion_r1542804881 */
.featuredQuestImageSkeleton {
  height: 100% !important;
  width: 100%;
  border-radius: 8px;
  position: absolute !important;
}

.featuredQuestContentLoading {
  width: 90%;
}

.featuredQuestTitle {
  font-family: "Sora-Bold";
  font-size: 2.5rem;
  background: var(--secondary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  align-items: flex-start;
  text-align: left;
}

.participantAvatars {
  display: flex;
  align-items: right;
  justify-content: right;
  margin-right: calc(1rem + 10px);
  height: 24px;
  min-width: 72px;
}

.participantAvatars img {
  margin-right: -10px;
  border-radius: 100px;
  width: 24px;
  height: 24px;
}

.issuer {
  display: flex;
  /* Auto layout */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 12px 4px 0px;
  gap: 10px;
  height: 36px;
  /* Background/600 */
  background: var(--background600);
  border-radius: 100px;
}

.claimer {
  display: flex;
  align-items: center;
}

.claimerText {
  font-weight: 700;
  font-family: "Sora-Bold";
  font-size: 14px;
}

.featuredQuestHeading {
  margin-top: 0.5rem;
  text-align: start;
}

.featuredQuestReward {
  margin-left: 0.5rem;
}

.featuredQuestDescription {
  text-align: start;
  margin-top: 1rem;
  font-size: 16px;
  font-family: Sora;
  font-style: normal;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .verifyButton {
    width: 100px;
    height: 38px;
  }

  .featuredQuest {
    flex-direction: column;
    width: calc(100% - 2rem);
    text-align: left;
    margin: 3em 0;
    height: fit-content;
  }

  .reward {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .featuredQuest {
    gap: 0;
  }
  .featuredQuestImageContainer {
    height: fit-content;
    width: 100%;
  }
  .featuredQuestImageContainer img {
    aspect-ratio: 1/1;
  }
  .featuredQuestImage {
    height: fit-content;
    margin-top: 3rem;
  }
  .featuredQuestImageSkeleton {
    height: 100% !important;
    width: 100%;
    position: absolute !important;
    margin-top: 3rem;
  }
  .featuredQuestContentLoading {
    width: 100%;
  }
  .featuredQuestTitle {
    font-size: 30px;
  }
  .featuredQuestHeading {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  .featuredQuestHeading,
  .featuredQuestReward,
  .featuredQuestButtonContainer p {
    font-size: 16px;
  }
  .featuredQuestRewardIcon {
    width: 28px;
    height: 28px;
  }
  .featuredQuestButtonContainer button {
    font-size: 18px;
  }
}

@media screen and (max-width: 740px) {
  /* Check if the parent is not .issuerTag */
  *:not(.issuerTag) > .issuer {
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin: 4px 0 0 0;
  }
  .issuerText {
    width: fit-content;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    letter-spacing: 0.16px;
  }
  .issuer img {
    width: 27px;
    height: 27px;
  }
}
